---
import WakuVersionSelector from './WakuVersionSelector';
import './version-selector.css';
---

<nav class="custom-top-bar">
  <slot name="logo" />

  <WakuVersionSelector client:load />

  <div class="top-bar-actions">
    <slot name="theme-switch" />
    <slot name="download-button" />
    <slot name="open-in-stackblitz-link" />
    <slot name="login-button" />
  </div>
</nav>

<style>
  .custom-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    background: var(--tk-background-primary);
    border-bottom: 1px solid var(--tk-border-primary);
  }

  .top-bar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
